<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>DAY BEFORE</title>
</head>

<body>
    <div class="container">

        <th:block th:replace="~{fragment/indexHeader::indexHeader}"></th:block>

        <div class="login-and-join">
            <div class="comment">
                <span>사랑하는 이웃들을 위해</span>
            </div>
            <div class="auth">
                <button type="button" class="login" onclick="showLoginModal()">로그인</button>
                <a href="/join">회원가입</a>
            </div>
            <div class="logout" th:if="${user != null}">
                <button type="submit" class="logout">로그아웃</button>
            </div>
        </div>

        <div id="loginModal">
            <div class="login-modal">
                <div class="modal-container">
                    <div class="modal-info">
                        <div class="modal-title">
                            <span>Login</span>
                        </div>
                        <button type="button" class="close" onclick="closeLoginModal()">x</button>
                    </div>
                    <div class="input-container">
                        <div class="id">
                            <input type="text" placeholder="ID">
                        </div>
                        <div class="pw">
                            <input type="password" placeholder="PASSWORD">
                        </div>
                    </div>
                    <div class="check-remember">
                        <div class="remember-id">
                            <input type="checkbox" name="remember-id" th:checke="${rememberId}">
                            <span>아이디 저장</span>
                        </div>
                        <div class="remember-me">
                            <input type="checkbox" name="remember-me">
                            <span>자동 로그인</span>
                        </div>
                    </div>
                    <button type="submit" class="login-request">로그인</button>
                    <div class="search">
                        <div class="search-id">
                            <a href="/">아이디찾기</a>
                        </div>
                        <div class="search-pw">
                            <a href="/">비밀번호찾기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    function showLoginModal() {
        var modal = document.getElementById("loginModal")
        modal.style.display = "block";
    }

    function closeLoginModal() {
        var modal = document.getElementById("loginModal")
        modal.style.display = "none";
    }
</script>

</html>