#createDdayModal {
    position: fixed;
    width: 600px;
    height: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #DDE2E5;
    border-radius: 20px;
    display: none;
    outline: 1px solid #DDE2E5;
}
#createDdayModal .top-section {
    width: 100%;
    height: 250px;
}
#createDdayModal .tool {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0 40px;
}
#createDdayModal .tool button {
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
#createDdayModal .upload-img {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#createDdayModal .upload-img .tool {
    position: absolute;
    top: 0;
}
#createDdayModal .upload-img-comment {
    font-size: 14px;
    color: #8F8F91;
}
#createDdayModal .bottom-section {
    width: 100%;
    height: 550px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#createDdayModal .bottom-section .create-Dday-info {
    width: 520px;
    height: 45px;
    margin: 0 40px 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DDE2E5;
}
#createDdayModal .create-Dday-info input {
    width: 400px;
}
#createDdayModal .create-Dday-info input,
#createDdayModal .create-Dday-info button {
    background: none;
    border: none;
    font-size: 15px;
    font-weight: bold;
}
#createDdayModal .create-Dday-info button {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}
#createDdayModal .create-Dday-info button img {
    width: 14px;
    height: 14px;
}
#createDdayModal .create-Dday-info .select-anniversary {
    display: flex;
    align-items: center;
}
#createDdayModal .calendar-section {
    width: 520px;
    height: auto;
}
/* #calendar {
    width: 100%;
    height: 100%;
} */