.my-Dday-box {
    width: 100%;
    height: 200px;
    background-color: #E7ECEF;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}
.main-title {
    font-size: 30px;
    font-weight: bold;
}
.sub-title {
    color: #8F8F91;
}



.container {
    width: 1280px;
    height: 100vh;
    display: flex;
    margin: 0 auto;
}
.sidebar {
    width: 280px;
    height: 980px;
    border-right: 1px solid #D8D8D8;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.insert-Dday {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.insert-Dday button {
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    background-color: #E7ECEF;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
nav {
    width: 240px;
    padding-bottom: 30px;
    display: inline-block;
}
.anniversary {
    border-bottom: 1px solid #D8D8D8;
}
nav > ul {
    padding-left: 40px;
}
.all {
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 50px;
}
h3 {
    height: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.sub-menu li {
    width: 100%;
    height: 35px;
    padding-left: 20px;
}
.sub-menu li a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: bold;
    color: #888888;
}
.relationship-menu {
    margin-top: 30px;
}