<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DAY BEFORE</title>
    <link rel="stylesheet" href="/css/product/list.css">
</head>

<th:block th:replace="~{fragment/header::header}"></th:block>
<th:block th:replace="~{fragment/subHeader::subHeader}"></th:block>

<body>
    <div class="product-box">
        <div class="main-title">
            <span>선물하기</span>
        </div>
        <div class="sub-title">
            <span>소중한 사람에게 마음을 담은 선물</span>
        </div>
    </div>
    <div class="container">
        <th:block th:replace="~{fragment/productSidebar::productSidebar}"></th:block>
        <div class="content">
            <div class="productList-title">
                <div class="product-quantity">
                    <span>30개의 상품</span>
                </div>
                <div class="product-search">
                    <input type="text" placeholder="상품명으로 검색하기">
                    <button type="submit">검색</button>
                </div>
            </div>
            <div class="product-container">
                <a href="/user/product/product" class="productCard-link">
                    <div class="productCard">
                        <div class="product-img">
                            <img src="/img/productCardSample.jpg" alt="상품샘플이미지">
                        </div>
                        <div class="product-brand-name">
                            <span>브랜드명</span>
                        </div>
                        <div class="product-name">
                            <span>“메리 크리스마스” 과자 7종 선물세트 (알
                                새우칩, 꼬깔곤, 치토스 등)</span>
                        </div>
                        <div class="product-price">
                            <span class="product-price-number">12,500</span>
                            <span>원</span>
                        </div>
                        <div class="product-platform">
                            <img src="/img/coupangIcon.jpg" alt="쿠팡아이콘이미지">
                            <div class="platform-name">
                                <span>쿠팡</span>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/user/product/product" class="productCard-link">
                    <div class="productCard">
                        <div class="product-img">
                            <img src="/img/productCardSample.jpg" alt="상품샘플이미지">
                        </div>
                        <div class="product-brand-name">
                            <span>브랜드명</span>
                        </div>
                        <div class="product-name">
                            <span>“메리 크리스마스” 과자 7종 선물세트 (알
                                새우칩, 꼬깔곤, 치토스 등)</span>
                        </div>
                        <div class="product-price">
                            <span class="product-price-number">12,500</span>
                            <span>원</span>
                        </div>
                        <div class="product-platform">
                            <img src="/img/coupangIcon.jpg" alt="쿠팡아이콘이미지">
                            <div class="platform-name">
                                <span>쿠팡</span>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/user/product/product" class="productCard-link">
                    <div class="productCard">
                        <div class="product-img">
                            <img src="/img/productCardSample.jpg" alt="상품샘플이미지">
                        </div>
                        <div class="product-brand-name">
                            <span>브랜드명</span>
                        </div>
                        <div class="product-name">
                            <span>“메리 크리스마스” 과자 7종 선물세트 (알
                                새우칩, 꼬깔곤, 치토스 등)</span>
                        </div>
                        <div class="product-price">
                            <span class="product-price-number">12,500</span>
                            <span>원</span>
                        </div>
                        <div class="product-platform">
                            <img src="/img/coupangIcon.jpg" alt="쿠팡아이콘이미지">
                            <div class="platform-name">
                                <span>쿠팡</span>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/user/product/product" class="productCard-link">
                    <div class="productCard">
                        <div class="product-img">
                            <img src="/img/productCardSample.jpg" alt="상품샘플이미지">
                        </div>
                        <div class="product-brand-name">
                            <span>브랜드명</span>
                        </div>
                        <div class="product-name">
                            <span>“메리 크리스마스” 과자 7종 선물세트 (알
                                새우칩, 꼬깔곤, 치토스 등)</span>
                        </div>
                        <div class="product-price">
                            <span class="product-price-number">12,500</span>
                            <span>원</span>
                        </div>
                        <div class="product-platform">
                            <img src="/img/coupangIcon.jpg" alt="쿠팡아이콘이미지">
                            <div class="platform-name">
                                <span>쿠팡</span>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/user/product/product" class="productCard-link">
                    <div class="productCard">
                        <div class="product-img">
                            <img src="/img/productCardSample.jpg" alt="상품샘플이미지">
                        </div>
                        <div class="product-brand-name">
                            <span>브랜드명</span>
                        </div>
                        <div class="product-name">
                            <span>“메리 크리스마스” 과자 7종 선물세트 (알
                                새우칩, 꼬깔곤, 치토스 등)</span>
                        </div>
                        <div class="product-price">
                            <span class="product-price-number">12,500</span>
                            <span>원</span>
                        </div>
                        <div class="product-platform">
                            <img src="/img/coupangIcon.jpg" alt="쿠팡아이콘이미지">
                            <div class="platform-name">
                                <span>쿠팡</span>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/user/product/product" class="productCard-link">
                    <div class="productCard">
                        <div class="product-img">
                            <img src="/img/productCardSample.jpg" alt="상품샘플이미지">
                        </div>
                        <div class="product-brand-name">
                            <span>브랜드명</span>
                        </div>
                        <div class="product-name">
                            <span>“메리 크리스마스” 과자 7종 선물세트 (알
                                새우칩, 꼬깔곤, 치토스 등)</span>
                        </div>
                        <div class="product-price">
                            <span class="product-price-number">12,500</span>
                            <span>원</span>
                        </div>
                        <div class="product-platform">
                            <img src="/img/coupangIcon.jpg" alt="쿠팡아이콘이미지">
                            <div class="platform-name">
                                <span>쿠팡</span>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/user/product/product" class="productCard-link">
                    <div class="productCard">
                        <div class="product-img">
                            <img src="/img/productCardSample.jpg" alt="상품샘플이미지">
                        </div>
                        <div class="product-brand-name">
                            <span>브랜드명</span>
                        </div>
                        <div class="product-name">
                            <span>“메리 크리스마스” 과자 7종 선물세트 (알
                                새우칩, 꼬깔곤, 치토스 등)</span>
                        </div>
                        <div class="product-price">
                            <span class="product-price-number">12,500</span>
                            <span>원</span>
                        </div>
                        <div class="product-platform">
                            <img src="/img/coupangIcon.jpg" alt="쿠팡아이콘이미지">
                            <div class="platform-name">
                                <span>쿠팡</span>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/user/product/product" class="productCard-link">
                    <div class="productCard">
                        <div class="product-img">
                            <img src="/img/productCardSample.jpg" alt="상품샘플이미지">
                        </div>
                        <div class="product-brand-name">
                            <span>브랜드명</span>
                        </div>
                        <div class="product-name">
                            <span>“메리 크리스마스” 과자 7종 선물세트 (알
                                새우칩, 꼬깔곤, 치토스 등)</span>
                        </div>
                        <div class="product-price">
                            <span class="product-price-number">12,500</span>
                            <span>원</span>
                        </div>
                        <div class="product-platform">
                            <img src="/img/coupangIcon.jpg" alt="쿠팡아이콘이미지">
                            <div class="platform-name">
                                <span>쿠팡</span>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/user/product/product" class="productCard-link">
                    <div class="productCard">
                        <div class="product-img">
                            <img src="/img/productCardSample.jpg" alt="상품샘플이미지">
                        </div>
                        <div class="product-brand-name">
                            <span>브랜드명</span>
                        </div>
                        <div class="product-name">
                            <span>“메리 크리스마스” 과자 7종 선물세트 (알
                                새우칩, 꼬깔곤, 치토스 등)</span>
                        </div>
                        <div class="product-price">
                            <span class="product-price-number">12,500</span>
                            <span>원</span>
                        </div>
                        <div class="product-platform">
                            <img src="/img/coupangIcon.jpg" alt="쿠팡아이콘이미지">
                            <div class="platform-name">
                                <span>쿠팡</span>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/user/product/product" class="productCard-link">
                    <div class="productCard">
                        <div class="product-img">
                            <img src="/img/productCardSample.jpg" alt="상품샘플이미지">
                        </div>
                        <div class="product-brand-name">
                            <span>브랜드명</span>
                        </div>
                        <div class="product-name">
                            <span>“메리 크리스마스” 과자 7종 선물세트 (알
                                새우칩, 꼬깔곤, 치토스 등)</span>
                        </div>
                        <div class="product-price">
                            <span class="product-price-number">12,500</span>
                            <span>원</span>
                        </div>
                        <div class="product-platform">
                            <img src="/img/coupangIcon.jpg" alt="쿠팡아이콘이미지">
                            <div class="platform-name">
                                <span>쿠팡</span>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/user/product/product" class="productCard-link">
                    <div class="productCard">
                        <div class="product-img">
                            <img src="/img/productCardSample.jpg" alt="상품샘플이미지">
                        </div>
                        <div class="product-brand-name">
                            <span>브랜드명</span>
                        </div>
                        <div class="product-name">
                            <span>“메리 크리스마스” 과자 7종 선물세트 (알
                                새우칩, 꼬깔곤, 치토스 등)</span>
                        </div>
                        <div class="product-price">
                            <span class="product-price-number">12,500</span>
                            <span>원</span>
                        </div>
                        <div class="product-platform">
                            <img src="/img/coupangIcon.jpg" alt="쿠팡아이콘이미지">
                            <div class="platform-name">
                                <span>쿠팡</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <th:block th:replace="~{fragment/footer::footer}"></th:block>
</body>

</html>