<th:block th:fragment="createDdayOptionModal">
    <link rel="stylesheet" href="/css/Dday/createDdayOptionModal.css">
    <script src="/js/Dday/createDdayOptionModal.js"></script>

    <div id="createDdayOptionModal">
        <div class="tool">
            <div class="close">
                <button type="button" class="close" onclick="closeCreateDdayOptionModal()">X</button>
            </div>
        </div>
        <div class="select-tag-section">
            
        </div>
    </div>

</th:block>