<th:block th:fragment="createDdayOptionModal">
    <link rel="stylesheet" href="/css/Dday/createDdayOptionModal.css">
    <script src="/js/Dday/createDdayOptionModal.js"></script>

    <div id="createDdayOptionModal">
        <div class="tool">
            <div class="close">
                <button type="button" class="close" onclick="closeCreateDdayOptionModal()">X</button>
            </div>
        </div>
        <div class="select-tag-section">
            <div class="public-section">
                <div class="public-title">
                    <span>기념일</span>
                </div>
                <div class="public-tag-section">
                    <button type="button">생일</button>
                    <button type="button">연애</button>
                    <button type="button">결혼</button>
                    <button type="button">출산</button>
                    <button type="button">연애</button>
                    <button type="button">연애</button>
                </div>
            </div>
            <div class="public-section">
                <div class="public-title">
                    <span>관계</span>
                </div>
                <div class="public-tag-section">
                    <button type="button">개인</button>
                    <button type="button">직장</button>
                    <button type="button">연인</button>
                    <button type="button">가족</button>
                    <button type="button">연애</button>
                    <button type="button">연애</button>
                </div>
            </div>
            <div class="public-section">
                <div class="public-title">
                    <span>대상의 나이대</span>
                </div>
                <div class="public-tag-section">
                    <button type="button">10대</button>
                    <button type="button">20대</button>
                    <button type="button">30대</button>
                    <button type="button">40대</button>
                    <button type="button">50대</button>
                    <button type="button">60대</button>
                </div>
            </div>
            <div class="public-section">
                <div class="public-title">
                    <span>대상의 성별</span>
                </div>
                <div class="public-tag-section">
                    <button type="button">남성</button>
                    <button type="button">여성</button>
                </div>
            </div>
            <div class="select-complete-button">
                <button type="button" onclick="selectCompleteButton()">선택완료</button>
            </div>
        </div>
    </div>

</th:block>