<th:block th:fragment="DdaySidebar">
    <script src="/js/jquery-1.12.3.js"></script>
    <div class="sidebar">
        <div class="insert-Dday">
            <button type="button">디데이 등록 ➕</button>
        </div>
        <nav>
            <ul class="main-menu">
                <li>
                    <h3>기념일</h3>
                    <ul class="sub-menu">
                        <li><a href="#">전체</a></li>
                        <li><a href="#">생일</a></li>
                        <li><a href="#">연애</a></li>
                        <li><a href="#">결혼</a></li>
                        <li><a href="#">출산</a></li>
                        <li><a href="#">입덕</a></li>
                        <li><a href="#">시험</a></li>
                    </ul>
                </li>
                <li>
                    <h3>관계</h3>
                    <ul class="sub-menu">
                        <li><a href="#">전체</a></li>
                        <li><a href="#">개인</a></li>
                        <li><a href="#">연인</a></li>
                        <li><a href="#">가족</a></li>
                        <li><a href="#">친구</a></li>
                        <li><a href="#">직장</a></li>
                        <li><a href="#">고객</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</th:block>